/* ==================================*/
/* ======== ADD IMAGE SECTION =======*/
/* ==================================*/
.admin {
  text-align: center;
  display: block;
}
.admin form {
  display: inline-block;
  text-align: left;
  margin: 15px auto;
}

.make-centered > h1,
h2,
h3 {
  font-family: "Quattrocento", serif;
}

.make-centered h2 {
  text-decoration: underline;
}
.type-container {
  list-style-type: none;
  text-align: center;
  margin-top: 40px;
}

.type-container li {
  font-size: 25px;
  display: inline-block;
  color: black;
  padding: 15px 32px;
  font-weight: bold;
  border: 1px solid black;
  margin: 4px 4px;
  cursor: pointer;
}

.type-container li:hover {
  color: white;
}

.make-darker {
  background-color: black;
}

.type-container .type-1 {
  background-color: red;
}
.type-container .type-2 {
  background-color: lightblue;
}
.type-container .type-3 {
  background-color: green;
}
.type-container .type-4 {
  background-color: pink;
}

.input-container {
  display: inline-block;
}

.input-container > .input-2 {
  /* margin: auto; */
}
/* ==================================*/
/* ============= END ================*/
/* ==================================*/

/* ==================================*/
/* ====== DELETE IMAGE SECTION ======*/
/* ==================================*/

.delete-img {
  text-align: center;
}

.delete-img h2 {
  font-family: "Quattrocento", serif;
  margin: 55px auto;
}

/* ==================================*/
/* ============= END ================*/
/* ==================================*/

/* ==================================*/
/* ====== ADD BLOG POST SECTION ======*/
/* ==================================*/

.blog-post {
  display: block;
  text-align: center;
}

.blog-post form {
  display: inline-block;
  text-align: left;
  margin: 15px auto;
}

/* ==================================*/
/* ============= END ================*/
/* ==================================*/

/* ==================================*/
/* ========== MEDIA TAGS ============*/
/* ==================================*/

@media only screen and (min-width: 1000px) {
  .admin form {
    width: 400px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .admin form {
    width: 450px;
  }
}

@media only screen and (max-width: 600px) {
  .admin form {
    width: 450px;
  }
}
