.about-contact-link {
  color: #e26091;
  cursor: pointer;
}

.about-contact-link:hover {
  text-decoration: underline;
}

.add-quote {
  background: url("../../images/left_quote.png") no-repeat 0 5px;
}
