.modal-window {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 5rem;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  opacity: 1;
  overflow-x: hidden;
  overflow-y: hidden;
  animation: show 0.5s ease;
}

.my-modal-content {
  background-color: #000;
  width: 50vw;
  height: 70vh;
  margin: 0 auto;
}

.my-modal-content img {
  display: block;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  object-fit: contain;
}
/* put close button to the top right corner of page */
.modal-close-button {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 1em;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border: 0;
  outline: 0;
}
