.portfolio-item .a-img {
  animation-name: portfolio;
  animation-duration: 1s;
  animation-fill-mode: both;
  transition: all 1s ease 0s;
}

@keyframes portfolio {
  0% {
    opacity: 0;
    transform: translate3d(0, -10%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
